/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

ion-item > svg {
  padding-right: 10px;
}
#app {
  width: 100%;
}
ion-content::part(scroll) {
  -overflow-y: hidden;
}

@media (prefers-color-scheme: dark) {
  option {
    background: black;
  }
}
@media (prefers-color-scheme: light) {
  option {
    color: black;
  }
}