#app > ion-content > div {
    height: -webkit-fill-available;
}
.v-datatable {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}
.v-datatable-header {
    display: flex;
    flex-direction: row;
}
#app > .ui-panel{
    flex: 1;
}
#app{
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
}
#app > .ui-panel{
    height: 0px;
}
#app > .ui-panel > .v-dialog-content{
    overflow-y: auto;
}
.v-datatable{
    flex:1;
}
@media (max-width: 700px) {
    .v-datatable-header button:not(.x-bmenu) {
        visibility: unset !important; 
        -display: unset !important; 
    }
    .v-button{
        font-size: 1rem;
    }
}